ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.rda ul{
    display: flex;
}
.rdalist {
    display: flex;
    gap: 20px;
}

.headnav {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-between;

}
.click {
    background-color: rgb(52, 179, 238);
    color: aliceblue;
    height: 15px;
    padding: 5px 5px;
    border-radius: 15px;
}
.click a {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
}