    body{
      background-color: #FFE0B5;
    }
    .columns{
        display: flex;
        gap: 20px;
        padding: 50px;
        margin: auto;
        width: 80%;
    }
    .separate-columns {
        border: 1px solid black;
        height: 300px;
        width: 500px;
        background-color: rgba(250, 249, 249, 0.849);
        border-radius: 2%;
    }
    .btn-1 {
        margin: 5px;
        background-color: blanchedalmond;
        border: none;
        border-radius: 20%;
    }
    .decor {
        font-size: 15px;
        margin: 5px;
    }
    #result {
        margin: 5px;
    }
    .text-decor {
        font-weight: bold;
        font-family: 'Orbitron', sans-serif;
    }